* { padding: 0px; margin: 0px; font-family: 'Times New Roman', Times, serif; box-sizing: border-box; }

ul{
    list-style-type: none;
}


.container{
    width: 1300px;
    margin: 0 auto;
    
    

}
header{
    width: 1200px;
    height: 200px;
    background: #b5727200;
    padding-block: 10px;
}

.header_logo{
    font-family: 'Fredericka the Great', cursive;
font-size: 75px; padding-left: 5%;
color: aliceblue;}

.nav{margin-left: 65%;margin-top: -8%;}

.menu{display: flex;margin-top: 40px;column-gap: 35px;font-size: 20px;color: whitesmoke;font-family: 'Monoton', cursive;}

.menu-item{cursor: pointer;}

.menu-item submenu{}

.submenu:hover{

}

.submenu:hover .submenu-content{
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 12px;
    background: whitesmoke;
    border-radius: 6px;


}

.submenu-title{

}

.submenu-content{

opacity: 0;
visibility: inherit;
transition: all .2s ease;
color: black;font-size: 15px;}

.submenu-content:hover{}

.submenu-content:hover .submenu-item{
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 5px;
    background: gainsboro;
    border-radius: 2px;
}

.submenu-item{}

table img{
    width: 50%;
    
    background-color: black;
 margin-right: -650px;margin-top: -3%;}

