*{
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box; 
}

.container{
   width: 100%;
   margin: 0 auto;
}

header{
   display: inline-block;width: 70px;
   height: 50px;
   left: 50px;
   top: 50px;
}


nav{
    height: 830px;
    background: white;

}

nav .menu ul{
    list-style: none;
}

nav .menu ul li{
    float: right;
    line-height: 24px;
    padding: 0 15px;

}

nav .menu ul li a{
    font-family: 'Poppins';
    color: #151B32;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-decoration: none;
}

nav .search{
    line-height: 50px;
    float: left;
    margin-left: 12px;
}

nav .search img{
    width: 20px;

}

article .information-list .information-items{
    width: 125px;
    
margin-top: -60%;margin-left: 20%;
float: left;

}

article .content{
    display: inline-block;
    display: flex;
    gap: 7%;
}
